.m-container {
    margin: 16px;
    background-color: white;
    border-radius: 32px;
    padding: 16px;
    -webkit-box-shadow: 12px 8px 14px -8px rgba(0,0,0,0.66);
    box-shadow: 12px 8px 14px -8px rgba(0,0,0,0.66);
}

.m-button {
    border: 1px solid #236B56;
    border-radius: 8px;
    margin: 8px;
}

.m-button:hover {
   background-color: #236B56;
   color: white;
}

.m-container div{
    margin-top:16px;
}

.m-container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.m-table-center {
    margin: 0 auto;
}

.m-table-center td, th {
    padding: 16px;
    text-align: center;
    border: 1px solid #236B56;
}

    .m-table-center th {
        background-color: #236B56;
        color:white;
    }
