body {
    background: #E5E5E5;
    position: relative;
}

.fundo {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #E5E5E5;
    padding-top: 50px;
}

.painelGeral {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 890px;
    height: 1150px;
    background: #FFFFFF;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 87px;
    text-align: left;
    padding: 30px;
    padding-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 65px;
}

.painelDados {
    position: absolute;
    margin: 10px 0;
    width: 790px;
    background: #F6FFF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    line-height: 60px;
}
    .painelDados h2 {
        margin-bottom: 10px;
    }

.editar {
    height:35px;
    padding-left: 20px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
}

    .editar a {
        color: #236B56;
    }

.enderecos {
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 260px;
    background: #F9F9F9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 280px;
    width: 790px;
    font-size: 24px;
    line-height: 28px;
    display: block;
    align-items: flex-end;
}

    .enderecos select {
        margin-top: 40px;
        width:750px;
        height:45px;
    }

    .enderecos a {
        color: #236B56;
    }


.editarEndereco {
    height: 30px;
    position: absolute;
    bottom: 30px;
}

.editarDadosPessoais {
    position: absolute;
    top: 400px;
}

.enderecoComponentes {
    position: relative;
    margin-right: 130px;
    width: 790px;
    padding-bottom: 10px;
}

    .enderecoComponentes dt {
        position: relative;
        display: inline-block;
        margin-right: 130px;
        vertical-align: top;
        height:38px;
        width: 245px;
        margin: 2px;
        padding-bottom: 10px;

        font-size:20px;
    }

.listapedidos {
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 550px;
    background: #F9F9F9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 280px;
    width: 790px;
    font-size: 24px;
    line-height: 28px;
    display: block;
    align-items: flex-end;
}