@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/TelaLogin.css" rel="stylesheet" />
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <form action="/login/Fazlogin" method="post">

                    <div class="campos">
                        <label for="usuario" class="control-label"></label>
                        <input type="text" name="usuario" class="form-control camposDetalhes" required placeholder='Login...' />


                        <label for="senha" class="control-label"></label>
                        <input type="password" name="senha" class="form-control camposDetalhes" required placeholder='Senha...' />
                    </div>
                    <br />
                    <input type="submit" value="Entrar" class="btn btn-success entrar" />
                    <b><label class="cadastro">Não possui cadastro? Então <a href="/Usuario/create">Cadastre-se</a></label></b>
                    <br />
                    <span class="text-danger erro"> @ViewBag.Erro</span>
                </form>
            </div>
        </div>
    </section>

</body>
