@model ProdutosViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="~/js/TelaRelatorio.js"></script>
</head>

<body>
    <div class="container">
        <div id="relat-topo">
            <p>Selecionar o tipo de relatório desejado</p>
            <select id="select-tipo" onchange="changeFilter()">
                <option>Pedidos em Aberto</option>
                <option>Pedidos Concluido</option>
                <option>Produtos Cadastrados</option>
                <option>Estoque</option>
            </select>
            <input id="input-data-ini" type="date" placeholder="Data inicial"/>
            <input id="input-data-fim" type="date" placeholder="Data final"/>
            <input id="input-txt-nome" type="text" placeholder="Nome" />
            <button id="btn-relat" onclick="efetuaFiltro()">Pesquisar</button>
        </div>

        <div id="conteudo">
            @{
                Html.RenderPartial("pvConteudoPedidos");
                Html.RenderPartial("pvConteudoProdutos");
            }

        </div>

    </div>
</body>

</html>