@model ProdutosViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="~/js/TelaRelatorio.js"></script>
    <link rel="stylesheet" href="~/css/Filtro.css" />
</head>

<body>
        <div class="filtros-container">
            <div class="filtros-title">
                <p>Selecione o tipo de relatório desejado</p>
            </div>
            <div class="filtros-item-group">
                <div class="filtro-item-subgroup">
                    <label>Tipo:</label>
                    <select id="select-tipo" onchange="changeFilter()">
                        <option>Pedidos em Aberto</option>
                        <option>Pedidos Concluido</option>
                        <option>Produtos Cadastrados</option>
                        <option>Estoque</option>
                    </select>
                </div>
                <div class="filtro-item-subgroup">
                    <label>Inicio:</label>
                    <input id="input-data-ini" type="date" placeholder="Data inicial" />
                    <label>Fim:</label>
                    <input id="input-data-fim" type="date" placeholder="Data final" />
                </div>
                <div class="filtro-item-subgroup">
                    <input id="input-txt-nome" type="text" placeholder="Nome" />
                </div>
                    <button id="btn-relat" onclick="efetuaFiltro()">Pesquisar</button>
                </div>
            </div>

        <div id="conteudo">
            @{
                Html.RenderPartial("pvConteudoPedidos");
                Html.RenderPartial("pvConteudoProdutos");
            }

        </div>

    </div>
</body>

</html>