
@model List<EstoqueModel>

@if (Model != null)
{
    @if (Model.Count > 0)
    {
        <table>
            <tr>
                <th>Nome</th>
                <th>Quantidade Total</th>
                <th>Quantidade em ordem</th>
            </tr>

            @foreach (EstoqueModel e in Model)
            {
                <tr>
                    <td>@e.Nome</td>
                    <td>@e.Quantidade</td>
                    <td>@e.QuantidadeEmOrdem.</td>
                </tr>
            }

        </table>
    }


    else
    {
        <h2>Não há Itens Disponíveis</h2>
        <p>Considere alterar os paramêtros de pesquisa</p>
    }
}


