@model List<UsuarioViewModel>

<h2>Relação de Usuários</h2>

<br />
<a href="/Usuario/Create">Novo Registro</a>
<br />
<a href="/Usuario/CarregarPerfil">Minha Conta</a>
<br />
<div id="div-filtros">
    <input id="input-data-ini" type="date" placeholder="Data inicial" />
    <input id="input-data-fim" type="date" placeholder="Data final" />
    <input id="input-txt-nome" type="text" placeholder="Nome" />
    <button id="btn-relat" onclick="efetuaFiltroUser()">Pesquisar</button>
</div>
<div id="conteudo">
    @{
        Html.RenderPartial("pvUsuarios");
    }
</div>


