@model List<CarrinhoViewModel>

<center><h2>Carrinho</h2> </center>
<br />
<div class="fundo-vitrine">
    <img src="~/images/carrinho.png" />
    Há @ViewBag.TotalCarrinho Itens no carrinho.
    <a href="/Carrinho/Visualizar">Visualizar</a>
</div>
<br />
<br />
<div class="m-center">
    <ul class="ul-vitrine">
        @if (Model.Count != 0)
        {
            @foreach (var prod in Model)
            {
                <li class="li-vitrine">
                    <a href="/Carrinho/Detalhes/?idProduto=@prod.ProdutoId">
                        <figure class="figura-vitrine">
                            <img class="imagem-vitrine" src="data:image/jpeg;base64,@prod.ImagemEmBase64">
                            <figcaption>
                                @prod.Nome<br>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            }
        }

    </ul>
</div>
