@model List<CarrinhoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/mContainer.css" />

</head>
<body>

    @if (Model.Count > 0)
    {
    <div class="m-container">
        <h2>Carrinho de Compras</h2>
        <br />
        <table class="m-table-center">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Quantidade</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img id="imgPreview" src="data:image/jpeg;base64,@item.ImagemEmBase64"
                             class="img-responsive" width="50">
                    </td>
                    <td>@item.Nome</td>
                    <td>@item.Quantidade</td>
                    <td><a href="/Carrinho/Detalhes/?idProduto=@item.ProdutoId" class="btn btn-info">Editar</a></td>
                </tr>
            }
        </table>

        <div>
            <section class="enderecos">

                <h4>Selecionar Endereço</h4>

                <select asp-items="ViewBag.Enderecos" id="idEndereco" class="dropdown form-control"> </select>
                <br />
            </section>
        </div>

        <div class="d-flex">
            <a href="/"><button class="m-button p-1">Continuar Comprando</button></a>
            <button class="m-button" onclick="finalizaPed()">Finalizar Pedido</button>
        </div>

    </div>

    }
    else
    {
        <h3>Não há itens no seu carrinho :(</h3>
        <p>Não tenha medo, adcione alguns items aqui</p>
    }



</body>


