@model List<CarrinhoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Terrenos no carrinho</h2>
<br />
<table class="table table-responsive">
    <tr>
        <th>Cidade</th>
        <th>Imagem</th>
        <th>Quantidade</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProdutoId - @item.Nome</td>
            <td>
                <img id="imgPreview" src="data:image/jpeg;base64,@item.ImagemEmBase64"
                     class="img-responsive" width="50">
            </td>
            
            <td>@item.Quantidade</td>
            <td><a href="/Carrinho/Detalhes/?idProduto=@item.ProdutoId">Editar</td>
        </tr>
    }
</table>

<div>
    <section class="enderecos">

        <h2><b>Selecionar Endereço</b></h2>

        <select asp-items="ViewBag.Enderecos" id="idEndereco" class="dropdown form-control"> </select>
        <br />
    </section>
    <br />
</div>
<br />
<a href="/">Retornar para as compras</a>
<br />
<br />
<button onclick="finalizaPed()">Finalizar Pedido</button>
