@model CategoriaProdutoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Categorias de Produto</h2>

<form asp-action="Save" method="post">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />


  
 <input type="hidden" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
 <span asp-validation-for="Id" class="text-danger"></span>

<label for="Categoria" class="control-label">Tipo de Produto</label>
    <input type="text" Name="Categoria" value="@Model.Categoria" class="form-control" />
    <span asp-validation-for="Categoria" class="text-danger"></span>

    <br />
    <input type="submit" value="Salvar dados" class="btn-info" />
    &nbsp;&nbsp;&nbsp;
    <a href="/" class="btn-light">Voltar</a>
    <br />
</form>
