@model X.PagedList.IPagedList<CategoriaProdutoViewModel>
@using X.PagedList.Mvc.Core;

<head>
    <link rel="stylesheet" href="~/css/mContainer.css" />

</head>
<body>
    <div class="m-container">
        <h2>Relação de Categorias de produto</h2>

        <br />
        <a href="/CategoriaProduto/Create">Novo Registro</a>
        <br />


        @if (Model.Count > 0)
        {
            <table class="m-table-center">

                <tr>
                    <th>Ações</th>
                    <th>Id</th>
                    <th>Categoria</th>
                </tr>

                @foreach (CategoriaProdutoViewModel a in Model)
                {
                    <tr>
                        <td>
                            <a href="CategoriaProduto/Edit?id=@a.Id" class="btn btn-info">Editar</a>
                            <a href="javascript:apagarRegistro(@a.Id, 'CategoriaProduto')" class="btn btn-danger">Apagar</a>
                        </td>
                        <td>@a.Id</td>
                        <td>@a.Categoria</td>
                    </tr>
                }


            </table>
            <div>
                @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
            </div>
        }
        else
        {
            <div>
                <h4>Não há dados Disponiveis</h4>
            </div>
        }

    </div>
</body>
