@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre o Barracão Store</h1>

<p>Esta é a loja Barracão Store, que é voltada a acessórios e equipamentos para pesca, caça e camping em geral.</p>
<br />
<p>[TEXTO A SER DESENVOLVIDO]</p>