@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/mContainer.css" />

</head>
<body>
    <div class="m-container">
        <h1>Sobre o Barracão Store</h1>

        <p>Esta é a loja Barracão Store, que é voltada a acessórios e equipamentos para pesca, caça e camping em geral.</p>
        <p>Crie sua conta, logue e navegue pelo site. Faça as suas compras adicionando-as no carrinho e verifique o status do seu pedido para acompanhar o processo. </p>
        <p>Cheque o seu perfil de usuário para editar seus endereços de entrega e ver o seu histórico de pedidos.</p>
        <p>Boas compras!</p>
        <br />
        <p><b>Integrantes do grupo</b></p>
        <p> • Lucas Santos Costa (RA: 081190015)</p>
        <p> • Guilherme Aparecido Tavares (RA: 081190035)</p>
        <p> • Rodrigo Emiliano de Oliveira (RA: 081190004)</p>
        <p> • Roger Kenichi Nomi (RA: 081190026)</p>
        <p> • Yago Jose Barros Caetano (RA: 081190027)</p>
    </div>

</body>
