@model List<ProdutosViewModel>

<div id="filtros">
    <input id="input-val-ini" type="number" placeholder="Valor inicial" />
    <input id="input-val-fim" type="number" placeholder="Valor final" />
    <input id="input-txt-nome" type="text" placeholder="Nome" />
    <button id="btn-relat" onclick="efetuaFiltroProdutos(@ViewBag.catProduto)">Pesquisar</button>
</div>

<div id="conteudo">
    @{
        Html.RenderPartial("pvHomeProdutos");
    }
</div>




