@model X.PagedList.IPagedList<ProdutosViewModel>
@using X.PagedList.Mvc.Core;


@if (Model != null)
{
<div class="d-flex flex-column align-items-center">
    <p class="text-center">@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))</p>
</div>
   
    <table class="m-table-center">

        @foreach (ProdutosViewModel a in Model)
        {

            <div class="container-card">
                <div id="card" class="card" style="width: 18rem;">
                    <img id="imgPreview" class="image-products" src="data:image/jpeg;base64,@a.FotoEmBase64" class="img-responsive">

                    <div class="card-body">
                        <h6 class="card-title">@a.Nome</h6>
                        <p class="card-price"><b>R$ @a.Preço,00</b></p>

                        <a href="/Produtos/Detalhes?id=@a.Id" class="btn-detalhes btn btn-secondary">Detalhes</a>
                        <br />
                        <a href="/Carrinho/AdicionarCarrinho?ProdutoId=@a.Id&Quantidade=1" class="btn-comprar btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>

        }
    </table>

}
else
{
    <h2>Não há Itens Disponíveis</h2>
    <p>Considere alterar os paramêtros de pesquisa</p>
}